* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  color: #000;
  background-color: #f5f4f4;
  height: 100vh;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c91212;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

/* a:hover {
  background-color: #c91212;
} */

.space-x-4 {
  display: flex;
  align-items: center;
  gap: 32px;
}

.btn {
  background-color: #c91212;
  color: #fff;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
}

form {
  background-color: #fff;
  padding: 16px;
}

#longurl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  background-color: #fff;
}

#longurl-inputfield {
  border-radius: 0;
  padding: 16px;
}

.shorturl-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 16px;
  border: 1px solid #e9e7e7;
  background-color: #fff;
  color: #000;
  width: 45%;
  outline: 0;
}

.submit {
  padding: 16px;
  background-color: #c91212;
  border: 0;
  border-radius: 0 8px 8px 0;
}

.p-4 {
  width: 45vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
}

.cta {
  padding: 12px;
  border: 0;
  background-color: #c91212;
  color: #fff;
  border-radius: 8px;
}

button.btn.login {
  background-color: transparent;
  border: 1px solid #c91212;
  color: #000;
}

.footer {
  width: 100%;
  text-align: center;
}